* {
  margin: 0;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 10px 0 10px 0;
}

ul li {

  padding: 5px 0 5px 0;
  font-size: 1rem;
  font-weight: 500;

}


/*logo*/

.logo {
  font-size: 1.8rem;
  margin: 0 auto;
  font-weight: 900;
  padding: 0;
}

.logo img {
  padding-left: 20px;
  padding-top: 10px
}



/* buttons */

.button {
  padding: 0 5px;
  margin: 15px 0 5px 0;
  height: 25px;

  border-radius: 5px;
  text-align: center;
  font-size: 80%;
  line-height: 25px;
}

.button.greyed {

  background-color: white;
  color: rgba(128, 128, 128, 0.463);
  border: rgba(128, 128, 128, 0.463) solid 2px;

}

.button.active {

  background-color: #47AEEC;
  color: white;
  border: #47AEEC solid 2px;


}

/* check - cross divs*/
.round {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  text-align: center;
  font-size: 8px;
}

.true {
  color: green;
  border: green solid 2px;
}

.false {
  color: red;
  border: red solid 2px;
  ;
}

/* main list styling */
.list-titles {
  font-size: 1.3rem;

}

/* category icon*/

.icon {
  display: inline-block;
  border-radius: 8px;
  font-size: 0.5rem;
  color: white;
  padding: 5px;
}

.blue-icon {
  background-color: #43A9E6;
  /* Editorial*/
}

.pink-icon {
  background-color: #D564A3;
  /* Websites*/
}

.green-icon {
  background-color: #66C1A7;
  /* Recruiting*/
}

.orange-icon {
  background-color: #EF9D36;
  /* Mobile*/
}

.lime-icon {
  background-color: #AEC82B;
  /* Sales*/
}

.purple-icon {
  background-color: #9874E2;
  /* Q1 Goals*/
}

/* tools */
.container {
  max-width: 75%;
  margin: 0 auto;
  padding-left: 50px;

}

.round-top {
  border-radius: 10px 10px 0 0;
}

.round-bottom {
  border-radius: 0 0 10px 10px;
}

.mtop50 {
  margin-top: 50px;
}

.bmargin10 {
  margin-bottom: 10px;
}

.mtop5 {
  margin-top: 5px;
}

.bg-lg {
  background-color: #F6F8FA;
}

.display-block {
  display: inline-block;
}


.vertical-middle {
  vertical-align: middle;

}

.bold {
  font-weight: bold;
}

.bg-white {
  background-color: white;
}