* {
  margin: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}






/*logo*/
.logo {
  font-size: 2rem;
  margin: 0 auto;

}

.logo img {
  padding: 10px 0 20px 10px;
}

/* buttons */


.button {
  padding: 0 5px;
  margin: 15px 0 5px 0;
  height: 25px;
  background-color: #47AEEC;
  color: white;
  border: #47AEEC solid 2px;
  border-radius: 5px;
  text-align: center;
  font-size: 80%;
  line-height: 25px;
}

.button.greyed {
  padding: 0 5px;
  margin: 15px 0 5px 0;
  height: 25px;
  background-color: white;
  color: rgba(128, 128, 128, 0.463);
  border: rgba(128, 128, 128, 0.463) solid 2px;
  border-radius: 5px;
  text-align: center;
  font-size: 80%;
  line-height: 25px;
}




/* tools */
.container {
  max-width: 75%;
  margin: 0 auto;
  padding-left: 50px;
  background-color: white;
}

.round-top {
  border-radius: 10px 10px 0 0;
}

.round-bottom {
  border-radius: 0 0 10px 10px;
}

.mtop50 {
  margin-top: 50px;
}

.mtop5 {
  margin-top: 5px;
}

.bg-lg {
  background-color: #F6F8FA;
}

.display-block {
  display: inline-block;
}


.vertical-middle {
  vertical-align: middle;

}

.h90 {
  height: 90px;
}

.bold {
  font-weight: bold;
}